<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Suiren - Responsive Travel Template</title>
    <link href="https://fonts.googleapis.com/css?family=Patua+One%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRoboto+Slab:100,300,400,700Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/vendors/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../assets/css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/vendors/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/vendors/owl.theme.green.min.css">
    <link rel="stylesheet" href="../assets/css/vendors/animate.min.css">
    <link rel="stylesheet" href="../assets/css/vendors/slicknav.min.css">
    <link rel="stylesheet" href="../assets/css/common/main.css">
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="tsp-main">
    <header>
    <!--start header top bar-->
    <div class="tsp-header-bar hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="top-content">
                    <div class="tsp-account">
                        <a href="login.php">Log in <i class="fa fa-angle-down"></i></a>
                        <div class="tsp-list-lang">
                            <ul>
                                <li><a href="login.php">Log In</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </div>      
                    </div>
                    <div class="tsp-language">
                        <a href="404.html#" class="tsp-link-lang">ENG <i class="fa fa-angle-down"></i></a>
                        <div class="tsp-list-lang">
                            <ul>
                                <li><a href="404.html#">ENG</a></li>
                                <li><a href="404.html#">VI</a></li>
                            </ul>
                        </div>
                    </div>                   
                </div>               
            </div>
            <!--Row-->
        </div>
    </div>
    <!--end header top bar-->
    <!--start header main-->
    <div class="tsp-header-main">
        <div class="container">
            <div class="row">
                <div class="tsp-logo col-md-3 col-sm-3 col-xs-3">
                    <a href="../index.php">
                        <img src="../assets/images/logo.png" alt="Logo">
                    </a>
                </div>
                <div id="tsp_menu_cart_search" class="col-md-9 col-sm-9 col-xs-12">
                    <nav>
                        <ul id="menu">
                            <li>
                                <a href="../index.php">Home</a>
                            </li>
                            <li><a href="about-us.php">About</a></li>
                            <li class="tsp-has-mega-menu">
                                <a href="hotel-grid.html">Hotel<i class="fa fa-caret-down"></i></a>
                                <div class="mega-menu">
                                    <ul>
                                        <li>
                                            <a href="404.html#">Europe</a>
                                            <ul>
                                                <li><a href="404.html#">Europe 1</a></li>
                                                <li><a href="404.html#">Europe 2</a></li>
                                                <li><a href="404.html#">Europe 3</a></li>
                                                <li><a href="404.html#">Europe 4</a></li>
                                                <li><a href="404.html#">Europe 5</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="404.html#">Booking</a>
                                            <ul>
                                               <li><a href="room-booking.php">Hotel booking</a></li>
                                               <li><a href="payment-success.php">Payment success</a></li>
                                                <li><a href="booking-history.html">Booking history</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="hotel-grid.html">Hotel</a>
                                            <ul>
                                                <li><a href="hotel-grid.html">Hotel grid</a></li>
                                                <li><a href="hotel-list.php">Hotel list</a></li>
                                                <li><a href="hotel-details.php">Hotel detail</a></li>
                                            </ul>
                                        </li>                                                           
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                                <ul>
                                    <li class="tsp-has-menu-child">
                                        <a href="blog.html">Blog list</a>
                                        <ul>
                                            <li><a href="blog.html">Blog grid</a></li>
                                            <li><a href="blog-sidebar.html">Blog list</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-detail.html">Blog detail</a></li>
                                </ul>
                            </li>
                            <li  class="current-menu-item">
                                <a href="404.html#">Feature</a>
                                <ul>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li class="tsp-has-menu-child">
                                        <a href="bbpress-forum.html">Forum</a>
                                        <ul>
                                            <li><a href="bbpress-forum.html">Forum</a></li>
                                            <li><a href="bbpress-forum-detail.html">Forum detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="current-menu-item"><a href="404.html">404 page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.php">Contact</a></li>
                        </ul>
                    </nav>
                    
                </div>
                <!--div nav cart search-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--End header main-->
</header>
<!--header-->
    <main>
        <section class="tsp-title-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="tsp-title col-md-6 col-sm-6 col-xs-12 tsp-no-padding-left">
                        <h1>Not <span>found</span></h1>
                    </div><!-- div title head page -->
                    <div class="tsp-breadcumb col-md-6 col-sm-6 col-xs-12 tsp-no-padding-right">
                        <ul>
                            <li><a href="404.html#">Home</a></li>
                            <li>/</li>
                            <li><span>404</span></li>
                        </ul>
                    </div><!-- div breadcrumb -->
                </div><!-- div row -->
            </div>
        </section>
        <section id="tsp_404" class="tsp-page-tpl">
    <div class="container">
        <div class="row">
            <div class="tsp-content-box">
                 <h2>404</h2>
                <p class="tsp-sub-title">oops! page not found</p>
                <p class="tsp-description">We’re really sorry! Something went wrong trying to display the page, Please try one of these instead</p>
                <div class="tsp-btn-nav">
                    <a href="../index.php" class="tsp-btn-site">Go to home</a>
                </div>
            </div>
        </div><!-- container -->
    </div>
</section>
        <section id="tsp_subcribe_news">
	<div class="container">
		<div class="row">
			<div class="tsp-content-subscribe">
				<div class="tsp-text-subscibe col-md-6 col-sm-6 col-xs-12 tsp-no-padding-left">
					<h2>Get the latest offers</h2>
					<p>Subscribe to our newsletter to receive news & updates.</p>
				</div>
				<div class="ts-form-subscibe col-md-6 col-sm-6 col-xs-12 tsp-no-padding-right">
					<form action="404.html#" name="formSubscibe">
						<i class="fa fa-envelope-o"></i>
						<input type="email" name="yourEmail" placeholder="Your email here">
						<button type="submit">Discovery now</button>
					</form>
				</div>
			</div>
		</div><!-- Div row -->
	</div>
</section>
    </main>
    <footer>
	<!--start footer main-->
	<div class="tsp-footer-main">
		<div class="container">
			<div class="row">
				<!--Start Item footer main-->
				<div class="col-xs-12 col-sm-6 col-md-4 tsp-footer-option tsp-no-padding-left">
					<aside class="tsp-widget-footer">
						<h2>Suiren About</h2>
						<div class="tsp-content-item">
							<p>You love to travel, and we love to help make travel one of life’s greatest pleasures. That’s why millions of consumers search for and book a wide range of hotels, flights, car rentals, cruises, vacation packages and destination activities with us.</p>
							<ul class="tsp-social-footer hidden-xs">
								<li>
									<a href="404.html#" title="Facebook"><i class="fa fa-facebook-square"></i></a>
								</li>
								<li>
									<a href="404.html#" title="Twitter"><i class="fa fa-twitter-square"></i></a>
								</li>
								<li>
									<a href="404.html#" title="Pinterest"><i class="fa fa-pinterest-square"></i></a>
								</li>
								<li>
									<a href="404.html#" title="Google plus"><i class="fa fa-google-plus-square"></i></a>
								</li>
								<li>
									<a href="404.html#" title="Tumblr"><i class="fa fa-tumblr-square"></i></a>
								</li>
								<li>
									<a href="404.html#" title="Youtube"><i class="fa fa-youtube-square"></i></a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
				<!--End item main footer-->
				<!--Start Item footer main-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 tsp-footer-option">
					<aside class="tsp-widget-footer">
						<h2>Contact Us</h2>
						<div class="tsp-content-item">
							<ul class="tsp-footer-address">
								<li>
									<i class="fa fa-map-marker"><span>Address:</span></i>
									<address>Themespond 15/6 Napoli Street Melbourne VIC 3000, Canada</address>
								</li>
								<li>
									<a href="404.html#" target="_blank">
										<i class="fa fa-phone"><span>Phone:</span></i> +123 145 999 999
									</a>
								</li>
								<li>
									<a href="mailto:themespond@gmail.com" target="_blank">
										<i class="fa fa-envelope"><span>Email:</span></i> themespond@gmail.com
									</a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
				<!--End item main footer-->
		
				<!--Start Item footer main-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 tsp-footer-option hidden-xs hidden-sm tsp-no-padding-right">
					<aside class="tsp-widget-footer">
						<h2>Flickr</h2>
						<div class="tsp-content-item">
							<ul class="tsp-image-instagram">
								<li>
									<a href="404.html#"><img src="../assets/images/flickr-1.jpg" alt="Instagram 1"></a>
								</li>
								<li>
									<a href="404.html#"><img src="../assets/images/flickr-2.jpg" alt="Instagram 2"></a>
								</li>
								<li>
									<a href="404.html#"><img src="../assets/images/flickr-3.jpg" alt="Instagram 3"></a>
								</li>
								<li>
									<a href="404.html#"><img src="../assets/images/flickr-4.jpg" alt="Instagram 4"></a>
								</li>
								<li>
									<a href="404.html#"><img src="../assets/images/flickr-5.jpg" alt="Instagram 5"></a>
								</li>
								<li>
									<a href="404.html#"><img src="../assets/images/flickr-6.jpg" alt="Instagram 6"></a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
				<!--End item main footer-->
			</div><!--row-->
		</div><!--container-->
	</div>
	<!--end footer main-->
	<!--start footer bar-->
	<div class="tsp-footer-bar">
		<div class="container">
			<div class="row">
				<!--start box text copyright-->
				<div class="tsp-copyright col-md-6 col-sm-6 col-xs-12 tsp-no-padding-left">
					<p>Copyright <span>&copy;</span> 2016 ThemePond.  All Rights Reserved</p>
				</div>
				<!--End box text copyright-->
				<!--Start box give news-->
				<div class="tsp-menu-footer col-md-6 col-sm-6 col-xs-12 tsp-no-padding-right">
					<ul>
						<li><a href="404.html#">Home</a></li>
						<li><a href="404.html#">About</a></li>
						<li><a href="404.html#">Hotels</a></li>
						<li><a href="404.html#">Tours</a></li>
						<li><a href="404.html#">Contacts</a></li>
					</ul>
				</div>
				<!--End box give news-->
				
			</div><!--row-->
		</div><!--container-->
	</div>
	<!--End footer bar-->
</footer>
</div>
<script src="../assets/js/vendors/jquery.min.js"></script>
<script src="../assets/js/vendors/modernizr.min.js"></script>
<script src="../assets/js/vendors/bootstrap.min.js"></script>
<script src="../assets/js/vendors/bootstrap-datepicker.min.js"></script>
<script src="../assets/js/vendors/owl.carousel.min.js"></script>
<script src="../assets/js/vendors/jquery.slicknav.min.js"></script>
<script src="../assets/js/common.js"></script>
</body>
</html>